<!DOCTYPE html>
<html ng-app = "myApp">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
<link rel="stylesheet" type="text/css" href="angular.css">
<script src="angular.js"></script>
</head>
<body ng-controller="myController">

<h1 ng-click="hover()" ng-class="{'secondHeading' : green, 'heading': red}">This is my web app!</h1>
<div ng-repeat="books in bookshelf">{{books}}</div>


<form ng-submit="bookSubmission(extraBook)"><input ng-model="extraBook"></input>
<button ng-click="bookSubmission(extraBook)">Enter New Book</button>
</form>


<!-- <div ng-repeat="obj in days">{{obj.Day}}</div> -->

</body>
</html> 